@import "tailwindcss" source("../**/*.{ts,tsx}");

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
